body {
    margin: 0;
    font-family: 'open sans' , sans-serif;
    background-color: lightgray;
    color: darkgray;
}
section{
    padding: 80px 10%;
}
h1{
    font-weight: 700;
    font-size: 40px;
}
h2{
    font-weight: 600;
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: teal;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
}
.button:hover {
    background-color: teal;
}